<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Activation Complete | <%= app_title %></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <link rel="shortcut icon" href="/images/favicon.ico">

        <link rel="preload" href="<%= banner_image %>" as="image">
        <link rel="preload" href="<%= logo %>" as="image">
        <link rel="preload" href="/dist/style.css" as="style">
        <link href="/dist/style.css" rel="stylesheet">
    </head>
    <body class="bg-white dark:bg-neutral-900 dark:text-gray-100 h-screen">
        <div class="w-full flex flex-wrap">
            <div class="w-full md:w-1/2 flex flex-col">
                <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                    <a href="<%= logo_url %>"><img class="h-20 w-20" src="<%= logo %>"/></a>
                </div>

                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-3xl"><%= app_header %></p>
                    <% if(info) { %>
                        <div class="bg-blue-500 text-white p-3 mt-8 rounded shadow-lg flex items-center">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                            </svg>
                            <div><%= info_text %></div>
                        </div>
                    <% } %>
                    <p class="mt-4 text-center">
                        Your account has been activated successfully!<br/>
                        You can now close this page.
                    </p>
                </div>

                <div class="text-center text-gray-400 text-sm italic pt-12 pb-12">
                    <p>
                        Powered by: <a href="https://glenndehaan.com" class="underline font-semibold">Glenn de Haan</a>.<br/>
                        Want your own portal? Checkout the project on: <a href="https://github.com/glenndehaan/auth-portal" class="underline font-semibold">GitHub</a>
                    </p>
                    <p class="text-[10px] not-italic">
                        SID: <%= sid %>
                    </p>
                </div>
            </div>

            <div class="w-1/2 shadow-2xl">
                <img class="object-cover w-full h-screen hidden md:block" src="<%= banner_image %>">
            </div>
        </div>
    </body>
</html>
