<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | <%= app_title %></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <link rel="shortcut icon" href="/images/favicon.ico">

        <link rel="preload" href="/images/<%= image %>" as="image">
        <link rel="preload" href="<%= logo %>" as="image">
        <link rel="preload" href="/css/tailwind.min.css" as="style">
        <link href="/css/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-white h-screen">
        <div class="w-full flex flex-wrap">
            <div class="w-full md:w-1/2 flex flex-col">
                <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                    <a href="<%= logo_url %>"><img class="h-20 w-20" src="<%= logo %>"/></a>
                </div>

                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-3xl"><%= app_header %></p>
                    <% if(error) { %>
                        <span class="bg-red-500 text-white font-bold text-lg text-center p-2 mt-8"><%= error_text %></span>
                    <% } %>
                    <form class="flex flex-col pt-3 md:pt-8" action="/login" method="post" enctype="multipart/form-data">
                        <div class="flex flex-col pt-4">
                            <label for="email" class="text-lg">Email</label>
                            <input type="email" id="email" name="email" placeholder="<%= email_placeholder %>" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" required>
                        </div>

                        <input type="hidden" id="redirect" name="redirect" value="<%= redirect %>"/>
                        <input type="submit" value="Log In" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer">
                    </form>
                </div>
            </div>

            <div class="w-1/2 shadow-2xl">
                <img class="object-cover w-full h-screen hidden md:block" src="/images/<%= image %>">
            </div>
        </div>
    </body>
</html>
