<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | <%= app_title %></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <link rel="shortcut icon" href="/images/favicon.ico">

        <link rel="preload" href="<%= banner_image %>" as="image">
        <link rel="preload" href="<%= logo %>" as="image">
        <link rel="preload" href="/dist/style.css" as="style">
        <link href="/dist/style.css" rel="stylesheet">
    </head>
    <body class="bg-white dark:bg-neutral-900 dark:text-gray-100 h-screen">
        <div class="w-full flex flex-wrap">
            <div class="w-full md:w-1/2 flex flex-col">
                <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                    <a href="<%= logo_url %>"><img class="h-20 w-20" src="<%= logo %>"/></a>
                </div>

                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-3xl"><%= app_header %></p>
                    <% if(info) { %>
                        <div class="bg-blue-500 text-white p-3 mt-8 rounded shadow-lg flex items-center">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                            </svg>
                            <div><%= info_text %></div>
                        </div>
                    <% } %>
                    <% if(error) { %>
                        <div class="bg-red-500 text-white p-3 mt-8 rounded shadow-lg flex items-center">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path>
                            </svg>
                            <div><%= error_text %></div>
                        </div>
                    <% } %>
                    <form class="flex flex-col pt-3 md:pt-8" action="/login" method="post" enctype="multipart/form-data">
                        <div class="flex flex-col pt-4">
                            <label for="email" class="text-lg">Email</label>
                            <input type="email" id="email" name="email" placeholder="<%= email_placeholder %>" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline dark:bg-neutral-800 dark:border-neutral-700 dark:text-gray-100" required>
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline dark:bg-neutral-800 dark:border-neutral-700 dark:text-gray-100" required>
                        </div>

                        <input type="hidden" id="host" name="host" value="<%= host %>"/>
                        <input type="hidden" id="redirect" name="redirect" value="<%= redirect %>"/>
                        <input type="submit" value="Log In" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer transition-colors dark:text-black dark:bg-gray-200 dark:hover:bg-white">
                    </form>
                    <% if(provider_google) { %>
                        <div class="divider">or</div>
                        <a href="/provider/google?host=<%= host %>&redirect=<%= redirect %>" class="w-full">
                            <button class="w-full bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-6 cursor-pointer transition-colors dark:text-black dark:bg-gray-200 dark:hover:bg-white inline-flex items-center justify-center">
                                <svg class="w-4 h-4 mr-2" viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                    <g transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
                                        <path fill="#4285F4" d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z"/>
                                        <path fill="#34A853" d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z"/>
                                        <path fill="#FBBC05" d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z"/>
                                        <path fill="#EA4335" d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z"/>
                                    </g>
                                </svg>
                                <span>Sign in with Google</span>
                            </button>
                        </a>
                    <% } %>
                </div>

                <div class="text-center text-gray-400 text-sm italic pt-12 pb-12">
                    <p>
                        Powered by: <a href="https://glenndehaan.com" class="underline font-semibold">Glenn de Haan</a>.<br/>
                        Want your own portal? Checkout the project on: <a href="https://github.com/glenndehaan/auth-portal" class="underline font-semibold">GitHub</a>
                    </p>
                    <p class="text-[10px] not-italic">
                        SID: <%= sid %>
                    </p>
                </div>
            </div>

            <div class="w-1/2 shadow-2xl">
                <img class="object-cover w-full h-screen hidden md:block" src="<%= banner_image %>">
            </div>
        </div>
    </body>
</html>
